//ORDERS PAGE
.ordersPage{
        div{
            input.hideMyself{
                display: none;
            }
        }

        .buttonReusable{
            border: 3px solid blue;
            border-radius: 15%;
            margin: 12px 1rem;
            padding: 1rem;
        }
}

// PRODUCTS PAGE
.productsPage{

}

