// Top feature
.topFeature{
    .buttonPlace{
        display: flex;
        margin: .5rem;
        gap: 2.5rem;

        .buttons{
            border: 2px solid grey;
            padding: .25rem 1.25rem;
            border-radius: .5rem;

            &:hover{
                font-size: 1.125rem;
                line-height: 1.75rem;
                transition-duration: 150ms;
                background-color: grey;
                border: none;
            }
        }
    }
    .locateTab{
        color: black;
        height: 2.5rem;
        padding: 0 .5rem;
        font-size: 1.125rem;
        line-height: 1.75rem;
        border: 3px solid white;
        border-radius: .5rem;

        &:focus{
            background-color: grey;
            transition-duration: .5s;
        }
    }
}

.Orders{
    position: relative;
    padding: 0.75rem 0;

    .buttons{
        border: 2px solid grey;
        padding: .25rem 1.25rem;
        border-radius: .5rem;

        &:hover{
            font-size: 1.125rem;
            line-height: 1.75rem;
            transition-duration: 150ms;
            background-color: grey;
            border: none;
        }
    }
}

.Products{
    padding: .75rem 0;
    position: relative;

    .buttons{
        border: 2px solid grey;
        padding: .25rem 1.25rem;
        border-radius: .5rem;

        &:hover{
            font-size: 1.125rem;
            line-height: 1.75rem;
            transition-duration: 150ms;
            background-color: grey;
            border: none;
        }
    }
}
// ordersProductsCard
.card{
    display: flex;
    height: 29rem;
    margin-bottom: .75rem;
    margin: 0 1.25rem;
    padding: .5rem;
    flex-wrap: wrap;
    overflow: hidden;
    border: 2px solid white;
    overflow-y: scroll;
    scroll-behavior: smooth;
    gap: 1rem;
    background-color: rgb(15, 14, 14);

    .orderCard,.productCard{
        width: 22rem;
        padding: .5rem;
        border-radius: .5rem;
        height: fit-content;
        background-color : rgb(85, 84, 84);
 
        button{
            padding: .2rem;
            border: .15rem solid white;
            border-radius: .5rem;
        }

        div{
            position: relative;
            display: flex;
            gap : .5rem;
            margin: .3rem 0;
            border: .2rem solid white;   
            padding: .3rem; 
            border-radius: .5rem;

            input{
                width: 8rem;
                padding: .2rem;
                border-radius: .5rem;
                color: white;

            }

            &.executable{
                height: fit-content;
                position: relative;
                display: flex;
                gap: 1rem;
                place-content: center;
                border: none;

                button:hover{
                    font-size: 1.125rem;
                    line-height: 1.75rem;
                    transition-duration: 150ms;
                    background-color: grey;
                    border: none;
                }
            }
        }

        h1{
            min-width: 6.5rem;
        }

    }



}
