.hover-effect {
    background-image:
        linear-gradient(#0ba730 0 0),
        linear-gradient(#41a221 0 0);
    background-repeat: no-repeat;
    background-size: 50% .08em;
    background-position:
        -100% 100%,
        200% 0;
    transition: background-size .3s, background-position .3s .3s;

    &:hover{
        background-size: 50% 100%;
        background-position:
            0 100%,
            100% 0;  
        transition: background-size .3s .3s, background-position .3s;
    }
}