.shop{
    .pList{
        div{
            h1{
                font-size: 1.2em;
                width: 16rem;
            }
            button{
                border: 1px solid white;
                background-color: grey;
            }
        }
    }
    .pClear{

    }
    .pSearch{

    }
}