@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  box-sizing: border-box;
}

.topFeature .buttonPlace {
  display: flex;
  margin: 0.5rem;
  gap: 2.5rem;
}
.topFeature .buttonPlace .buttons {
  border: 2px solid grey;
  padding: 0.25rem 1.25rem;
  border-radius: 0.5rem;
}
.topFeature .buttonPlace .buttons:hover {
  font-size: 1.125rem;
  line-height: 1.75rem;
  transition-duration: 150ms;
  background-color: grey;
  border: none;
}
.topFeature .locateTab {
  color: black;
  height: 2.5rem;
  padding: 0 0.5rem;
  font-size: 1.125rem;
  line-height: 1.75rem;
  border: 3px solid white;
  border-radius: 0.5rem;
}
.topFeature .locateTab:focus {
  background-color: grey;
  transition-duration: 0.5s;
}

.Orders {
  position: relative;
  padding: 0.75rem 0;
}
.Orders .buttons {
  border: 2px solid grey;
  padding: 0.25rem 1.25rem;
  border-radius: 0.5rem;
}
.Orders .buttons:hover {
  font-size: 1.125rem;
  line-height: 1.75rem;
  transition-duration: 150ms;
  background-color: grey;
  border: none;
}

.Products {
  padding: 0.75rem 0;
  position: relative;
}
.Products .buttons {
  border: 2px solid grey;
  padding: 0.25rem 1.25rem;
  border-radius: 0.5rem;
}
.Products .buttons:hover {
  font-size: 1.125rem;
  line-height: 1.75rem;
  transition-duration: 150ms;
  background-color: grey;
  border: none;
}

.card {
  display: flex;
  height: 29rem;
  margin-bottom: 0.75rem;
  margin: 0 1.25rem;
  padding: 0.5rem;
  flex-wrap: wrap;
  overflow: hidden;
  border: 2px solid white;
  overflow-y: scroll;
  scroll-behavior: smooth;
  gap: 1rem;
  background-color: rgb(15, 14, 14);
}
.card .orderCard, .card .productCard {
  width: 22rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  height: -moz-fit-content;
  height: fit-content;
  background-color: rgb(85, 84, 84);
}
.card .orderCard button, .card .productCard button {
  padding: 0.2rem;
  border: 0.15rem solid white;
  border-radius: 0.5rem;
}
.card .orderCard div, .card .productCard div {
  position: relative;
  display: flex;
  gap: 0.5rem;
  margin: 0.3rem 0;
  border: 0.2rem solid white;
  padding: 0.3rem;
  border-radius: 0.5rem;
}
.card .orderCard div input, .card .productCard div input {
  width: 8rem;
  padding: 0.2rem;
  border-radius: 0.5rem;
  color: white;
}
.card .orderCard div.executable, .card .productCard div.executable {
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
  display: flex;
  gap: 1rem;
  place-content: center;
  border: none;
}
.card .orderCard div.executable button:hover, .card .productCard div.executable button:hover {
  font-size: 1.125rem;
  line-height: 1.75rem;
  transition-duration: 150ms;
  background-color: grey;
  border: none;
}
.card .orderCard h1, .card .productCard h1 {
  min-width: 6.5rem;
}

.shop .buttons {
  border: 2px solid grey;
  padding: 0.25rem 1.25rem;
  border-radius: 0.5rem;
}
.shop .buttons:hover {
  font-size: 1.125rem;
  line-height: 1.75rem;
  transition-duration: 150ms;
  background-color: grey;
  border: none;
}
.shop .pList div h1 {
  font-size: 1.2em;
  width: 16rem;
}
.shop .pList div button {
  border: 1px solid white;
  background-color: grey;
}

.homepage {
  height: 100vh;
  width: 100vw;
  position: relative;
  background-image: url("../public/pointOfSale.jpg");
  background-size: contain;
}
.homepage h1 {
  padding: 4rem 0;
  font-size: 3em;
}
.homepage .mainBody {
  position: relative;
  display: flex;
  overflow: hidden;
  margin: 0 2rem;
  gap: 2rem;
  padding: 1rem;
  place-content: center;
}
.homepage .mainBody .linkDetails {
  background-color: rgb(199, 195, 195);
  color: black;
  width: 17rem;
  height: 22rem;
  padding: 0.5rem;
  overflow: hidden;
}
.homepage .mainBody .linkDetails:hover {
  background-color: black;
  transition-duration: 1s;
  color: white;
}
.homepage .mainBody .linkDetails .imageDetails {
  height: 12rem;
}
.homepage .mainBody .linkDetails div h1 {
  font-size: 1.5em;
  padding: 0;
  text-align: center;
}
.homepage .mainBody .linkDetails div p {
  font-size: 1em;
}

.leftNavbar {
  height: 15.6vh;
}
.leftNavbar .image {
  height: 3rem;
  width: 3rem;
  margin: auto;
  margin-top: 1rem;
}
.leftNavbar .image:hover + .paragraph {
  visibility: visible;
  color: white;
}
.leftNavbar .paragraph {
  display: grid;
  text-align: center;
  width: 100%;
  visibility: hidden;
}
.leftNavbar.active {
  background-color: rgb(99, 80, 58);
}

body {
  box-sizing: border-box;
}/*# sourceMappingURL=index.css.map */