.ShopEnter{
    background-image: linear-gradient(to right, #434343 0%, black 100%);
    border-bottom-right-radius: 1.9rem;
    border-top-right-radius: 1.9rem;
    
    div{
        color: white;   
        position: relative;
        padding: 0.75rem;

        h1{
            font-size: medium;  
            margin: .2rem;
        }

        input, .input{
           background-color: black;
           height: 3rem;
           border: none;
        }
    }
    .Count{
        width: 10rem;
    }

    button{
        border-radius: 10%;
        padding: .3rem;
    }
}
.ShopList{
    background-image: linear-gradient(to left, #434343 0%, black 100%);
    border-bottom-left-radius: 1.9rem;
    border-top-left-radius: 1.9rem;
    height: 25rem;
}